:root {
  --darkest-color: #040017;
  --primary-color: #e6e6fa;
  --secondary-color: #a061ff;
}

/* Homepage */
.hero,
.header {
  background-color: var(--darkest-color) !important;
  color: var(--primary-color) !important;
}

.hero {
  padding: 150px 0 190px 0;
}

.header {
  padding: 30px 50px 50px;
}

.intro p {
  font-family: "Caveat", cursive;
  font-size: 48px !important;
  color: var(--primary-color) !important;
  margin-left: -25% !important;
  line-height: 40px;
}

h1 {
  font-size: 100px !important;
  color: var(--secondary-color) !important;
}

h2 {
  font-size: 28px !important;
  color: var(--primary-color) !important;
}

h3 {
  font-size: 24px !important;
}

h4 {
  font-size: 36px !important;
  font-weight: bold !important;
}

h3,
h4,
h5,
h6,
p {
  color: var(--darkest-color) !important;
}

#min-margin {
  margin-top: -50px !important;
  margin-bottom: 50px;
}

.btn-branding {
  font-size: 18px;
  background-color: var(--secondary-color) !important;
  color: #ffffff !important;
}

.project-desc {
  padding: 20px !important;
}

a {
  text-decoration: none !important;
  color: var(--secondary-color) !important;
}

a:hover {
  opacity: 0.6;
}

.projects {
  margin-top: -50px;
  padding: 100px 0 0 0;
  background-color: #ffffff;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

footer {
  font-size: 14px;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content-header {
  margin: 100px 0 50px 0;
  padding: 30px !important;
}

.about h1 {
  font-size: 64px !important;
}

.about h2 {
  margin: 0 !important;
}

.light-text {
  color: var(--primary-color);
}

.maxime {
  width: 300px !important;
  margin-left: -20px !important;
  border-radius: 120px !important;
}

.maxime-afoort {
  width: 200px !important;
  margin-left: -40px !important;
  border-radius: 80px !important;
}

.about-maxime {
  margin: 0 auto !important;
  max-width: 800px;
}

.homepage-link {
  margin-bottom: 100px !important;
}

@media (max-width: 576px) {
  .hero {
    padding: 100px 0 140px 0;
  }

  .projects {
    padding: 40px !important;
  }

  .project-desc {
    padding: 0 !important;
    text-align: center !important;
  }

  h1 {
    font-size: 40px !important;
  }

  h2 {
    font-size: 20px !important;
  }

  .intro p {
    font-size: 24px !important;
  }

  h3 {
    font-size: 20px !important;
  }

  h4 {
    font-size: 18px !important;
  }

  #min-margin {
    margin: 40px 0 40px 0 !important;
  }

  .about h1 {
    font-size: 36px !important;
    line-height: 36px !important;
  }

  .about h2 {
    margin: 0 !important;
    font-size: 20px !important;
  }

  .maxime {
    width: 200px !important;
    margin-left: -10px !important;
    border-radius: 60px !important;
  }

  .about-maxime {
    text-align: center;
  }
}

@media (max-width: 800px) {
  .about-maxime {
    margin: 0 20px !important;
  }
}

@media (max-width: 1400px) {
  .maxime-afoort {
    display: none !important;
  }
}
